.toolbarButton {
	 -fx-background-color: #e5740a
}

.button {
    -fx-background-color: #c97d29;
    -fx-text-fill: white;
}

.genericWindow {
    -fx-background-color: #e8e2d9;
    -fx-border-color: #bc9d29;
    -fx-border-width: 4px;
}

.vboxLabel {
    -fx-padding: 12px 2px 0 2px;
}

.pane {
    -fx-background-color: #e1d6b2;
}

.toolbar {
    -fx-padding: 25px 25px 25px 25px;
}

.textField {
	-fx-background-color: #bab08d;
	-fx-text-fill: white;
}

.text-area .content{
    -fx-background-color: #f3ebd3;
}

.choiceBox {
	-fx-background-color: #ddad79;
}